/* css/general.css */

/* General Page Styling */
body {
    font-family: Arial, sans-serif;
}

/* Right-aligned Icons Styling (Common for Top Bar and Navbar) */
.material-icons {
    font-size: 20px;
    vertical-align: middle;
    color: #ffffff;
}

.btn-success {
    background-color: #00ff00;
    color: #000;
}

.btn-success:hover {
    background-color: #fff;
    color: #000;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .navbar-brand {
        margin: auto;
    }

    .navbar-nav {
        text-align: center;
    }
}
