/* Hero Section Styles */
.hero-main {
    height: calc(100vh - 110px);
}

.hero-canvas {
    position: relative;
    z-index: 0;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.hero-content-wrapper {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
    padding: 20px;
}

.hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 15px;
    font-weight: 700;
}

.hero-content h1 span {
    color: #00ff00;
}

.hero-content p {
    font-size: 1.2em;
}

/* Custom Button Styles */
.hero-buttons {
    display: flex;
    gap: 20px; /* Space between buttons */
    margin-top: 20px;
    justify-content: center;
}

.btn-custom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: 600;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #00ff00;
    text-transform: uppercase;
    padding: 0 20px;
    transition: all 0.3s ease-in-out;
    gap: 10px;
    overflow: hidden;
    position: relative;
}

.btn-custom .circle-arrow {
    width: 30px;
    height: 30px;
    background-color: #00ff00;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    transition: all 0.3s ease-in-out;
}

.btn-custom .circle-arrow .material-icons {
    font-size: 20px;
    color: black;
    transition: transform 0.3s ease;
}

.btn-custom:hover {
    background-color: #00ff00;
    color: black;
}

.btn-custom:hover .circle-arrow {
    background-color: black;
    border: 2px solid #00ff00;
}

.btn-custom:hover .circle-arrow .material-icons {
    color: #00ff00;
    transform: translateX(5px);
}

.btn-events {
    background-color: #1d1d1d;
}

.btn-training {
    background-color: #1d1d1d;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 1.8em;
    }

    .hero-content p {
        font-size: 1em;
    }

    .btn-custom {
        width: 180px;
        height: 50px;
        font-size: 12px;
    }

    .btn-custom .circle-arrow {
        width: 35px;
        height: 35px;
    }

    .hero-buttons {
        flex-direction: column;
    }
}
