/* Hero Section Styles */
.hero-main {
    height: calc(100vh - 110px);
}

.hero-canvas {
    position: relative;
    z-index: 0;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.hero-content-wrapper {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
    padding: 20px;
}

.hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 15px;
    font-weight: 700;
}

.hero-content h1 span {
    color: #00ff00;
}

.hero-content p {
    font-size: 1.2em;
}



/* Responsive Design */
@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 1.8em;
    }

    .hero-content p {
        font-size: 1em;
    }

    .btn-custom {
        width: 180px;
        height: 50px;
        font-size: 12px;
    }

    .btn-custom .circle-arrow {
        width: 35px;
        height: 35px;
    }

    .hero-buttons {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-top: 20px;
    }
}
