.logo-container {
    z-index: 10;
    background-color: black;
    height: 110px;
    padding: 10px 20px;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    min-width: 60px;
}

.shared-logo {
    height: 80px;
    width: auto;
}

@media (max-width: 768px) {
    .social-icons {
        width: 100%;
    }
}
