/* Top Bar Styles */
.top-bar {
    background-color: black;
    color: #ffffff;
    font-size: 14px;
    /* left: 280px; */
    height: 30px;
}

.topbar-logo-image {
    max-width: 20px;
    height: auto;
    color: white;
}

/* .top-bar .social-icons a .material-icons {
    vertical-align: middle;
    font-size: 18px;
} */
