.top-bar {
    background-color: black;
    color: #ffffff;
    font-size: 14px;
    height: 30px;
}

.topbar-logo-image {
    max-width: 20px;
    height: auto;
    color: white;
}

@media (max-width: 768px) {
    .top-bar {
        height: 100%;
    }
}
