/* Top Bar Styles */
.top-bar {
    background-color: black;
    color: #ffffff;
    left: auto;
    font-size: 14px;
    /* left: 280px; */
    /* height: 60px;  */
}

/* .top-bar .social-icons a .material-icons {
    vertical-align: middle;
    font-size: 18px;
} */
