.image-section,
.digital-media-coverage,
.upcoming-media-section {
    background-color: black;
    color: white;
}

.digital-media-coverage .media-links {
    font-size: 18px;
    word-wrap: break-word; 
    overflow-wrap: break-word;
}

.digital-media-coverage .media-links .link {
    color: #35ba53;
    text-decoration: underline;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    white-space: normal; 
}

  .digital-media-coverage .media-links .link:after {
    content: 'launch';
    font-family: 'Material Icons';
    font-size: 12px;
    margin-left: 2px;
    color: #35ba53; 
  }

.digital-media-coverage .media-links .link-title {
    font-weight: bold;
}

@media (max-width: 768px) {

    .digital-media-coverage .media-links {
        font-size: 16px; 
    }

    .digital-media-coverage .media-links .link {
        font-size: 14px; 
        line-height: 1.5;
    }
}
