/* Styling for Upcoming media Section */
.image-section,
.digital-media-coverage,
.upcoming-media-section {
    background-color: black;
    color: white;
}

.upcoming-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
}

.upcoming-title .upcoming-text {
    font-size: 40px;
    font-weight: bold;
    color: #35ba53;
    margin-bottom: 5px;
    line-height: 1.2;
}

.upcoming-title .media-text {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-decoration: underline;
    text-decoration-color: #35ba53;
    text-decoration-thickness: 3px;
    line-height: 1.2;
}

.digital-media-coverage .media-links {
    font-size: 18px;
    max-width: 100vw;
}

.digital-media-coverage .media-links .link {
    color: #35ba53;
    text-decoration: underline;
}

.digital-media-coverage .media-links .link-title {
    font-weight: bold;
}

